<div class="letter__form">
    <h1>Добро пожаловать в Traderius</h1>
    <h2>{{login}}, команда Traderius благодарит Вас за присоединение к системе</h2>
    <hr>
    <h2>Для активации автоматической торговли, необходимо добавить токен доступа в личном кабинете</h2>

    <style>
        .letter__form {
            background: #1b1a1d;
            padding: 40px 50px;
            box-sizing: border-box;
        }

        h1 {
            font-size: 32px;
            letter-spacing: 1px;
            font-weight: 500;
            margin-bottom: 20px;
            color: white;
        }

        h2 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: 500;
            margin-bottom: 20px;
            color: white;
        }
    </style>
</div>