.news-block__date {
    color: #665fec;
    font-size: 14px;
}

.news-block__publisher {
    margin-top: 10px;
    font-weight: 600;
}

.news-block__title {
    font-size: 16px;
}

.news-block__link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
