.homepage {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.homepage__title {
    color: #665fec;
    font-weight: 500;
}

.homepage__panels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage__control {
    width: 49%;
    margin-top: 40px;
}

.homepage__news {
    width: 49%;
    margin-top: 40px;
}

.news__block {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1b1a1d;
    border-radius: 10px;
}

.news__title {
    color: #665fec;
    font-weight: 500;
}

.notification__block {
    background: #665fec;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}