.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.homepage__header {
    display: flex;
    justify-content: space-between;
}

.homepage__user {
    display: flex;
    flex-direction: row;
    
}
.homepage__username {
    color: #665fec;
    font-weight: 500;
    margin-left: 20px;
}
.homepage__date {
    font-weight: 500;
}

.homepage__body {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}

.homepage__column_l {
    width: 50%;
}

.homepage__column_r {
    width: 50%;
}

.homepage__card {
    margin-top: 40px;
    height: auto;
}
.homepage__card .h__card_title {
    color: #665fec;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.homepage__card .h__card_body {
    border-radius: 10px;
    max-height: 400px;
}


.homepage__panels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.homepage__control {
    width: 49%;
    margin-top: 40px;
}

.homepage__news {
    width: 49%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100vh;
    overflow-y: scroll;
}

.news__block {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1b1a1d;
    border-radius: 10px;
}

.notification__block {
    background: #1b1a1d;;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.homepage__card_1 {
    display: flex;
    flex-direction: column;
    background-color: #1b1a1d;
    color: white;
    width: 49%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.homepage__card_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 20;
}

.homepage__card_balance {
    font-size: 32px;
    font-weight: 600;
}

.homepage__card_dynamic {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
}

.homepage__card_dynamic {
    color: green;
}

.card_dynamic__sign, .card_dynamic__change {
    margin-right: 3px;
}