.navigation {
    width: 50px;
    height: 100%;
    background-color: #1b1a1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.navigation__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.navigation__link:hover {
    background-color: #665fec;
}

.navigation__link.active_link {
    background-color: #665fec;
}