.header {
    position: fixed;
    top: 0;
    min-height: 40px;
    width: calc(100% - 50px);
    background: #1b1a1d;
    color: white;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 20px 0 20px
}